---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Body/Header.tsx'
import ThemeScript from '../../components/Head/ThemeScript.astro';
import Seo from '../../components/Head/Seo.astro';
import Footer from '../../components/Body/Footer.tsx'
import '../../styles/global.css';
import TagList from '../../components/Body/TagList';
import loadArticles from '../../utils/collection';
import formatDate from '../../utils/date';
import ArticleHeader from '../../components/Body/Article/Header.tsx';
import RelatedArticles from '../../components/Body/Article/RelatedArticles';
import MermaidScript from '../../components/Head/MermaidScript.astro';

export async function getStaticPaths() {
  const collection = await loadArticles();

  return collection.map((article) => {
    return {
      params: { slug: article.frontmatter.slug },
      props: { article},
    };
  });
}

const { frontmatter, Content } = Astro.props.article;
---

<BaseLayout>
  <ThemeScript slot="meta-head"/>
  <Seo slot="meta-head" title={frontmatter.seoTitle} description={frontmatter.seoDescription} />
  <Header client:only="react" slot="body-header"/>
  <article class="article-details mx-4 md:mx-auto md:max-w-[850px]" slot="body-main">
    <ArticleHeader frontmatter={frontmatter} />
    <Content/>
    <TagList tags={frontmatter.tags} />
    <RelatedArticles frontmatter={frontmatter} client:only="react"/>
    <footer class="w-full border-(--grid-color) border-t-1 mt-24 pt-5">
      {frontmatter.publishedAt && <p class="text-sm">
        Published: {formatDate(frontmatter.publishedAt)}
    </p>}
       <p class="text-lg mt-5 mb-16">
          Written by Vipan Balrai
          <br/><span class="text-sm mb-10">Vipan Balrai is a seasoned software engineer and mentor with over 15 years of experience in software development. Passionate about crafting secure, high-performance, and reliable software, he specializes in JavaScript and TypeScript. With a deep understanding of modern development practices, he enjoys sharing his expertise through technical writing, helping engineers build scalable and efficient applications.</span>
      </p>
      
    </footer>
  </article>
  <Footer client:only="react" slot="body-footer"/>
  <MermaidScript slot="body-footer" elementSelector=".language-mermaid"/>
</BaseLayout>