---
interface Props {
  title: string;
  description: string;
  author?: string;
  image?: string;
  url?: string;
}

const {title, description, author, image, url} = Astro.props
---
{title && <title>{title}</title>}
{description && <meta name="description" content={description} />}
{author && <meta name="author" content={author} />}
{title && <meta property="og:title" content={title} />}
{description && <meta property="og:description" content={description} />}
{image && <meta property="og:image" content={image} />}
{url && <meta property="og:url" content={url} />}
{title && <meta name="twitter:title" content={title} />}
{description && <meta name="twitter:description" content={description} />}
{image && <meta name="twitter:image" content={image} />}
{url && <meta name="twitter:card" content={url} />}
